.header
  background #211B37
  background linear-gradient(to right, #5c77f7, #7654dd)
  color white
  height 60px
  display flex
  justify-content space-between
  align-items center
  padding 5px 15px
  .small
    font-size 12px

  .steps
    display flex
    align-items center
    .step
      color white
      text-decoration none
      opacity 0.7
      margin 0 10px
      line-height 1.2em
      > span:first-child
        opacity 0.6
        font-size 11px
        display block
      > span:last-child
        font-weight 500
      &.active, &:hover
        opacity 1
        & > span:last-child
          text-decoration underline
    .arrow:after
      content '→'
      opacity .5
