#overlay {
  opacity: 0;
  display: none;
  transition: opacity .2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(0,0,0,0.3);
  z-index: -1;
  body.sentence-shown & {
    z-index: 7;
    opacity: 1;
    display: block;
  }
}
