footer
  max-width 500px
  margin auto
  color: #929292;
  font-size: 11px;
  .license
    margin-top: 2px;
    line-height: 1.7em;
    sans-serif()
    // a:not(:hover)
    //   color inherit
    .license-link
      font-size: 9px;
    .info
      background: #e6e6e6;
      border-radius: 30px;
      display: inline-block;
      /* width: 18px; */
      line-height: 1.2;
      font-size: 10px;
      margin-left: 4px;
      padding: 1px 4px 2px 4px;
      letter-spacing: -.3px;
      // &:hover
      //   text-decoration none
      //   background-color #7fbae0
  .contact
    margin-top 7px
    text-align: center;
    padding-top @margin-top
    border-top 1px solid #e8e8e8
    .name
      font-family: serif;
      font-style: italic;
      font-size: 12px;
