/*
  Thumb images
*/.thumb {
  @include sans_serif();
  line-height: 1.2;.thumbinner {
    box-sizing: content-box;.thumbcaption {
      padding: 1px 0 3px 0;
    }
  }&.tright {
    margin: 0 0 13px 13px;
  }&.tleft {
    margin: 0 13px 13px 0;
  }
  image {
    border-radius: 2px;
  }
  @media (max-width: 600px) {
    &, &.tright, &.tleft {
      float: none !important;
      clear: both !important;
      margin: 0;
    }
  }
}.thumbcaption {
  @include sans_serif();
  font-size: 13px;
  line-height: 1.4;
}
