/* AUDIO */
.audioPlayer 
  display flex
  line-height 1.2
  &.error 
    display none
  &.inline 
    display inline-block
    text-align center
    .playButton 
      min-width 45px
      padding 0 3px
  .playButton 
    position relative
    padding 4px 10px
    .percentage 
      position absolute
      top 0
      left 0
      height 100%
      background rgba(#f4796c, 0.25)
      background rgba(#7983e8, 0.25)
  &.video 
    display block
    .playButton 
      display none
.audioContainer 
  &[data-inline] 
    display none

/* VIDEO */
.video-container 
  // display: flex
  // background: #f4f4f4
  // border-radius: 7px
  // box-shadow: 0 0 1px 0 rgba(black, 0.4), 0 2px 3px 0 rgba(black, 0.1)
  // overflow: hidden
  .video 
    flex 1
    min-width 300px
    background black
    display flex
    flex-direction column
    justify-content center
  .video-sidebar 
    .p 
      margin 4px 0
    // background: inherit
    // max-width: 326px
    .video-sidebar-content 
      padding 10px 10px
      padding-top 30px
      .video-explanation 
        sans_serif()
        margin-block-start 10px
        font-weight normal
        color #595959
        font-size 13px
  .video-header 
    display flex
    align-items center
    line-height 1.4
    background white
    border-bottom 1px solid #dfdfdf
    padding 7px 8px
    sans_serif()

    border-top-left-radius 7px
    border-top-right-radius 7px
    box-shadow 0 0 1px 0 rgba(black, 0.4), 0 2px 3px 0 rgba(black, 0.1)

    img 
      border-radius 100px
    .video-author 
      flex 1
      padding-left 10px
      .video-username a 
        color black
        font-weight bold
      .video-handle a 
        color #ababab

video 
  cursor pointer
