[submodule "server/inflection"]
	path = server/inflection
	url = https://github.com/ylhyra/icelandic-inflections.git
[submodule "mediawiki/ylhyra-extensions/ThirdPartySessionVerification"]
	path = mediawiki/ylhyra-extensions/ThirdPartySessionVerification
	url = https://github.com/ylhyra/mediawiki-third-party-session-verification.git
