.env
*.csv
*.save
*.zip
*.txt
!src/app/app/public/robots.txt
build
node_modules
npm-debug.log*
package-lock.json
build/*
.secret
.putout.json*
.idea
**/output.css
*.scratch.ts

# Accidentally compiled TypeScript code
src/**/**/*.js
dev.db
