.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.pnp.js
*.csv
*.txt
*.zip
*OL[D]*
*OLD*
OLD/*
/.pnp
/build
/node_modules
/uploads
database_local
google_translation_api.json
npm-debug.log*
output/*
package-lock.json
project/mediawiki/backup/*/*
project/mediawiki/LocalSettings.php
test.html
