[submodule "mediawiki/ylhyra-extensions/ThirdPartySessionVerification"]
	path = mediawiki/ylhyra-extensions/ThirdPartySessionVerification
	url = https://github.com/ylhyra/mediawiki-third-party-session-verification.git
[submodule "project/server/inflections"]
	path = project/server/inflections
	url = https://github.com/ylhyra/icelandic-inflections.git
