.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.pnp.js
*.csv
*OL[D]*
/.pnp
/build
/node_modules
/uploads
google_translation_api.json
npm-debug.log*
package-lock.json
project/mediawiki/backup/*/*
project/mediawiki/LocalSettings.php
database_local
*.zip
*.txt
test.html
