.page-Text_Frontpage.action-view
  background #fffffe

#frontpage-splash-screen
  margin-top 20px
  display flex
  // align-items: center;
  #frontpage-splash-screen-english
    sans-serif()
    color #252525
    font-size 26px
    flex 1
    line-height: 1.5;
    underline-links()
    padding-top: 18px;
    padding-right: 19px;
    a
      border-bottom-width 2px
  #frontpage-splash-screen-demo
    flex 1
    background: #f7f7f6;
    border: 1px solid #B6B6B6;
    box-shadow: 0 5px 7px 0 rgba(181,181,181,0.03), 0 1px 1px 0 rgba(0,0,0,0.06);
    border-radius: 2px;
    padding: 20px;
    padding-bottom: 8px;
    #frontpage-splash-screen-demo-text
      serif()
      font-size 18px
      line-height: 1.96;
      margin-bottom: 22px;
    #frontpage-splash-screen-demo-byline
      sans-serif()
      color #707070
      underline-links()
      font-size 13px
      text-align: right;


#latest-articles
  sans-serif()
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem
  > div
    .frontpage-box-image
      height 120px
      background-color #91a2b0
  .latest-articles-title
    display block
    underline-links()
    font-size: 18px;
    margin-top: 6px;
  .latest-articles-description
    display block
    font-size: 13px;
    color: #545454;


.page-Ylhýra #catlinks
  display none
