@import "mixins";
@import "reset";
@import "various";

@import "Layout/**"
@import "Elements/**"
@import "Frontpage/**"
@import "Templates/**"
@import "Templates/Controls/**"
@import "Text/**"
@import "Text/Box/**"
@import "Text/Box/**"
@import "Text/Box/**"
@import "Text/Box/**"
@import "Vocabulary/**"

// @import './../Elements/Speed_reading/speed-reader';
// @import './../../Editor/Style/index.scss';
// @import './../../../server/inflection/styles/inflections/inflection.scss';
// @import './../../../server/inflection/styles/inflections/table.scss';
