.level {
  border-radius: 12px;
  font-family: sans-serif;
  color: gray;
  background: #ececec;
  padding: 2px 6px;
  font-size: 12px;
}

kbd {
  border: 1px solid #c3c3c3;
  background: #f4f4f4;
  border-radius: 3px;
  padding: 0 3px;
  display: inline-block;
}

#page-not-found {
  text-align: center;
  padding-top: 30px;
  font-size: 20px;
  color: #393939;
}

.pron {
  color: #777777;
  font-weight: 200;
  > span {
    font-weight: normal;
    color: #242424;
    font-style: italic;
    border-bottom: 2px solid #e8e8e8;
  }
}

.phrase {
  padding: 5px 20px;
  border-left: 4px solid #ebebeb;
  min-width: 0;
  @include sans-serif();
  [lang="is"] {
    // font-weight: 500;
    // font-size: 17px;
  }
  .p {
    margin: 0;
  }
}

/* References */
.references {
  padding-top: 20px;
  color: #323232;
  opacity: 0.9;
  font-size: 12px;
  line-height: 1.3;
  .p {
    margin: 3px 0;
  }
  li + li {
    margin-top: 3px;
  }
  /* Section links */
  *:target {
    background-color: rgba(#c0f2fb, 0.36);
  }
}
sup.reference {
  @include sans-serif();
  color: #707070;
  font-size: 10px;
  opacity: 0.6;
  top: -0.7em;
  .references & {
    opacity: 0.9;
  }
}

// label .error {
//   display: inline;
// }

.toc {
  .toc-vocabulary-list {
    color: gray;
    line-height: 1.4;
    @include sans-serif();
    font-size: 11px;
  }
  .toc_subtitle {
    font-size: 13px;
    font-style: italic;
    @include sans-serif();
    // font-weight: bold;
  }

  .chapter {
    padding: 10px 5px;
    margin: 0 -5px;
    &:not(:first-child) {
      border-top: 1px solid #ededed;
    }
    display: block;
    &:hover {
      text-decoration: none;
      background: #f5f5f5;
    }
  }
  .chapter-title {
    display: flex;
    // align-items: center;
    > :first-child {
      flex: 1;
    }
    > :last-child {
      margin-top: 2px;
    }
  }
  .link-with-percentage {
    &:hover {
      text-decoration: none;
      .chapter-title > :first-child {
        text-decoration: underline;
      }
    }
  }
}

.content-header {
  background: #fbfcfd;
  // margin-bottom: 20px;
  border: 1px solid #f3f3f3;
  border-left: 0;
  border-right: 0;
  margin-bottom: 0;
  > div {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  .vocabulary-header {
    display: flex;
    > :last-child {
      flex: 1;
      margin-left: 10px;
      > :not(.gray) {
      }
    }
  }
}

.parts {
  @include sans-serif();
  margin: auto;
  display: flex;
  justify-content: center;
  ul {
    display: flex;
    list-style-type: none;
    li {
      display: block;
      // font-weight: bold;
      > * {
        display: block;
        padding: 5px 13px;
      }
      &.numbers {
        > * {
          background: #a6aa9d;
        }
        > a {
          background: #dcdfd5;
        }
      }
      &.next > * {
        background: #1d87a8;
        color: white;
        font-weight: bold;
      }
      &.label > * {
        background: none;
        font-weight: normal;
        // font-size: 13px;
        color: #525252;
      }
      &.first > * {
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
        padding-left: 15px;
      }
      &:last-child > * {
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        padding-right: 15px;
      }
      &:not(.first):not(.next):not(.label) > * {
        border-left: 1px solid gray;
      }
    }
  }
}

// .notes {
//   @include sans-serif();
//
// }
