.level {
  border-radius: 12px;
  font-family: sans-serif;
  color: gray;
  background: #ececec;
  padding: 2px 6px;
  font-size: 12px;
}

kbd {
  border: 1px solid #c3c3c3;
  background: #f4f4f4;
  border-radius: 3px;
  padding: 0 3px;
  display: inline-block;
}

.toc {
  small {
    float: right;
    @include sans-serif();
  }
  .temporary-vocabulary-list {
    color: gray;
    line-height: 1.4;
    @include sans-serif();
    font-size: 11px;
  }
}

#page-not-found {
  text-align: center;
  padding-top: 30px;
  font-size: 20px;
  color: #393939;
}

section,
.section {
  > div {
    max-width: $max-width;
    // max-width: 500px;
    margin: auto;
  }
  > div:not(.content) {
    padding: 25px 10px;
  }
  &.content {
    padding: 55px 24px;
    margin: 0;
    box-sizing: content-box;
    line-height: 1.7;
    letter-spacing: 0.1px;
    word-spacing: 0.6px;
    @include serif();
    font-size: 15px;
    &:not(:last-child) {
      border-bottom: 1px solid #edebeb;
    }
    &.first {
      padding-top: 0;
    }
    > div {
      max-width: 500px;
    }
    h2 {
      @include sans-serif();
      text-align: center;
      font-weight: 600;
      font-size: 20px;
    }
  }
  &.odd {
    background: rgba(#fcfcfc, 0.8);
  }
  li + li {
    // margin-top: 8px;
  }

  &.last {
    flex: 1;
  }
  &.content-footer {
    background: #eeeeee;
  }
}

.pron {
  color: #777777;
  font-weight: 200;
  > span {
    font-weight: normal;
    color: #242424;
    font-style: italic;
    border-bottom: 2px solid #e8e8e8;
  }
}

.phrase {
  padding: 5px 20px;
  border-left: 4px solid #ebebeb;
  min-width: 0;
  @include sans-serif();
  [lang="is"] {
    // font-weight: 500;
    // font-size: 17px;
  }
  .p {
    margin: 0;
  }
}

/* References */
.references {
  padding-top: 20px;
  color: #323232;
  opacity: 0.9;
  font-size: 12px;
  line-height: 1.3;
  .p {
    margin: 3px 0;
  }
  li + li {
    margin-top: 3px;
  }
  /* Section links */
  *:target {
    background-color: rgba(#c0f2fb, 0.36);
  }
}
sup.reference {
  @include sans-serif();
  color: #707070;
  font-size: 10px;
  opacity: 0.6;
  top: -0.7em;
  .references & {
    opacity: 0.9;
  }
}

ul.plain {
  list-style-type: none;
}

h1 {
  @include sans-serif();
  font-size: 29px;
  line-height: 1.2;
  > span {
    border-bottom: 3px solid rgba(#d7d7d7, 0.4);
  }
}

/* VOCABULARY MAKER */
.vocabulary_maker {
  padding: 10px;
  .row {
    font-size: 12px;
    line-height: 1.3;
    padding: 3px 0;
    border-bottom: 1px solid #e2e2e2;
    cursor: pointer;
    .small {
      font-size: 10px;
    }
    &.seen {
      background: #dcf4d9;
    }
    b b,
    b + span b,
    .occluded {
      text-decoration: underline;
    }
    .thu-merging {
      color: gray;
      font-style: italic;
    }
  }
  label {
    display: inline-block;
    padding: 10px;
    border: 1px solid #c6c6c6;
    margin: 0 0 -1px -1px;
    b {
      font-size: 13px;
      // font-weight: 500;
    }
    &[for="icelandic"],
    &[for="english"] {
      display: block;
      background: #f4f4f4;
      input {
        width: 500px;
        font-size: 15px;
      }
    }
    input {
      width: 100%;
      padding: 2px 5px;
      font-size: 12px;
      // border-color: #94e099;
    }
  }
  .gray {
    color: gray;
  }
  .seperator {
    color: #6cffd8;
  }
  input[type="number"] {
    width: 40px;
  }
}

#recording_window {
  // .recorder {
  //   color: white;
  //   background: #f03e93;
  //   padding: 3px;
  //   font-size: 12px;
  //   border: 1px solid #8a3520;
  //   float: right;
  //   &.recording {
  //     background: #b32e59;
  //   }
  // }
  .recorder {
    border: 3px solid #49e69b;
    border-radius: 3px;
    text-align: center;
    padding: 55px 24px;
    margin: 30px 10px;
    font-size: 26px;
    font-weight: 600;
    &.recording {
      border-color: #d93222;
      background: #fce3df;
    }
  }
  .visualizer {
    display: none;
  }
  .rec_instructions {
    color: gray;
    font-size: 11px;
  }
}

/* TEMP*/
a[href="/login"] {
  xdisplay: none;
}

.toc_subtitle {
  font-size: 13px;
  font-style: italic;
  @include sans-serif();
}
