$max-width = 700px
gray = #6b6b6b
blue = #1161d9

serif()
  font-family Georgia, serif

sans-serif()
  font-family Helvetica Neue,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"

underline-links()
  a
    border-bottom: 1px solid #e4e4e4;
    color black
    &:hover
      text-decoration none
      border-bottom-color: #a7a7a7;
      color black

card-shadow()
  box-shadow 0 0 0px 1px rgba(0,0,0,0.13), 0 1px 1px 0 rgba(0,0,0,0.17)
  overflow: hidden;

@import 'reset'
@import 'Front page/*'
@import 'Layout/*'
@import 'Text/Box/*'
@import 'Templates/table'
@import 'AudioVideo/*'

#main .ylhyra-text
  @import 'Text/*'
  @import 'Lessons/*'
  @import 'Vocabulary/*'
  @import 'Vocabulary/Types/*'
@import 'Templates/*'

@import 'Templates/Publishers/*'

@import './../../Editor/Style/index.styl'

.mw-editsection ~ *
  font-size 12px
  sans-serif()

.gray
  color #6b6b6b

.blue
  color blue

.p, p
  margin-block-start: 8px;
  margin-block-end: @margin-block-start;

img, video
  max-width 100%
  height auto

[data-children]
  display none

html.ylhyra-loaded #failed-to-load-javascript
  display none
