#speed-reader
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  background #fffced
  z-index 3000

  &.blackonwhite
    background white

  &.whiteonblack
    color white
    background black
    #output
      color white

  &.yellowonblack
    color white
    background black
    #output
      color #ffdb41

  #speedreader_output
    font-size 26px
    margin auto
    padding 10px 0
    max-width 400px
    width 100%
  #speedreader_word
    hyphens auto
    max-width inherit
    text-align center
    flex 1.2
    word-spacing 1px
    font-family Georgia, serif;
  .speedreader_translation
    opacity 0.7
    font-family sans-serif
    font-size 13px
    text-align center

  #tutorial
    padding 10px 0

  .gray
    opacity 0.7
    font-family sans-serif
    font-size 13px

  #noclick
    cursor initial
