.book
  font-size 18px
  line-height 1.9
  max-width 600px
  margin 38px auto

  /* NYTIMES STYLE */
  &, &.ny-times
    font-size 20px
    // -webkit-font-smoothing antialiased
    color #111
    // line-height 1.7
    font-family Georgia, serif
    letter-spacing 0.1px
    font-size 16px

  h1
    text-align center
    margin 25px 3px
    margin-bottom 0px

  h2
    text-align center
    font-size 15px
    // margin 10px
    font-family sans-serif

  .subtitle
    margin-bottom 20px
    text-align center
    font-size 14px

  @media screen and (min-width: 700px)
    .thumb.tright
      margin-right -38px


  // &.has-images
  //   margin 38px 0
  //   max-width: 400px;
  //   .thumb.tright
