.inflection
  sans-serif()
  font-size 13px
  background: #fdfdfd;
  card-shadow()
  border-radius: 3px;
  .gray
    font-size 12px
    font-weight normal
  .light-gray
    color #b0b0b0
    font-weight normal
  a
    // text-decoration underline
    // border-bottom 1px solid rgba(#c8c8c8, 0.2)
  td.highlight
    background white
