.instructions-header
  color: #272727;
  border: 1px solid #c9c9c9;
  margin: auto;
  margin-bottom: 30px;
  padding-bottom: 30px;
  background: #f9f9f9;
  padding: 29px;
  max-width: 500px;
  border-radius: 3px;

.instructions
  font-size: 11px
  margin: auto
  line-height: 1.3em
  color: #636363
  display: flex
  justify-content: center
  margin-bottom: 10px
  sans-serif()
  ul
    list-style-type: none
    li
      display: flex
      margin-bottom: 3px
      > :first-child
        width: 20px
        padding: 0 5px
        text-align: right
      > :last-child
        flex: 1
      &.gray
        opacity: .8
  .touch
    display: none

/* Desktop computer */
body:not(.supports-touch)
  // .only-desktop
  .only-mobile
    display none
/* Mobile device */
body.supports-touch
  .only-desktop
    display none
