button($color, $bg, $x_axis)
  sans_serif()
  outline none
  -webkit-tap-highlight-color transparent
  color $color
  background-color $bg
  background-image linear-gradient(
    -180deg,
    rgba(white, 0.05) 0%,
    rgba(#c6c6c6, 0.1) 100%
  )
  border 1px solid rgba($color, 0.1)
  box-shadow inset $x_axis 1px 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 0px 0px 0 rgba($color, 0.3)
  &:hover 
    background-color saturate(darken($bg, 5%), 10%)
    border-top-color rgba($color, 0.25)
    color saturate(darken($color, 5%), 20%)
    box-shadow inset $x_axis 1px 1px 0 rgba(255, 255, 255, 0.5),
      inset 0 0px 0px 0 rgba($color, 0.3), 0 0px 1px 1px rgba(black, 0.04)
    text-decoration none
  cursor pointer
  &.selected,
  &:active 
    background-color darken($bg, 20%)
    border-top-color rgba($color, 0.4)
    color black
    box-shadow inset 0 1px 3px 0 rgba(0, 0, 0, 0.14)
    z-index 10
  text-decoration none
  &:visited
    color $color

.button-container 
  display flex
  &.center
    align-items center
    justify-content center
    height 100%

.centered-button 
  display flex
  justify-content center
  align-items center
  flex-direction column

.button > a,
.button.audioPlayButton,
a.button,
button:not(.link):not(.nostyle):not(.simple-button)
  border-radius 5px
  padding 6px 10px
  font-weight 500
  font-size 14px
  display inline-block
  & //, &.dark-blue
    button(white, #102f36, 0)
  &.light, &.audioPlayButton
    button(#4e822e, #e0e2fb, 0)
  &.green
    button(#1fc484, #e6ffe8, 0)
  &.red
    button(#830500, #f67a57, 0)
  &.gray
    button(#2d2d2d, #e0e2fb, 0)
.button.small > a,
a.button.small 
  font-size 12px
  padding 3px 6px
.button.big > a,
a.button.big,
button.big 
  font-size 17px !important
  padding 8px 22px !important
.button.right > a,
a.button.right 
  float right
  clear both

button.link,
button.nostyle
  clear_button_styles()
button.link:hover 
  text-decoration underline
