.inflection {
  @include sans_serif();
  font-size: 13px;
  padding: 10px;
  color: #494949;&.small {
    @include card_shadow();
    background: #fdfdfd;
    border-radius: 3px;
    max-width: 270px;
    position: fixed;
    bottom: 10px;
    z-index: 100;
    right: 10px;
  }
  table {
    margin: 10px auto !important;
  }
  hr {
    margin: 7px 0;
  }.gray {
    font-weight: normal;
    white-space: nowrap;
  }.light-gray {
    color: #b0b0b0;
    font-weight: normal;
  }
  a:not(table a) {
    &.plainlink {
      text-decoration: underline !important;
    }
  }
  td.highlight {
    background: white;
  }
  h4 {
    margin: 0;
    line-height: 1;
    font-size: 17px;
    color: black;
  }.indent {
    margin-left: 20px;
  }
}
