#footer 
  background #f0f3f3
  border-top 1px solid #e8e8e8
  font-size 12px
  padding 10px 30px
  // margin-top: 40px

  > div 
    display flex
    max-width $max-width
    margin auto

    &:first-child 
      margin-bottom 12px

    > div 
      flex 1
  @media screen and (max-width: 600px) 
    padding 10px 5px

    > div 
      display block

  h5 
    font inherit
    font-size normal
    font-weight bold
    margin 1em 0 0

  .portal 
    list-style none
    margin 0
    padding 0

  #free 
    font-size 12px
    color #848484
  /* Bottom  */

  #footer-info 
    font-size 12px
    line-height 1em
    display block
    color #848484
    margin-bottom 0
    text-align center

    .footer-gray 
      margin 0 4px

      &:not(:hover) 
        color #7d7d7d

      a:not(:hover) 
        color inherit

      &:not(:hover) 
        #footer-logo 
          -webkit-filter grayscale(100%)
          filter gray

    #footer-logo 
      font-family serif
      font-style italic
      font-size 14px
      font-weight bold

#footer-info-lastmod 
  display none
