.columns {
  display: flex;

  .columns-1 {
    flex: 1;
  }

  .columns-2 {
    flex: 1;
  }

  .columns-3 {
    flex: 1;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.grid-ul > ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  list-style-type: none;
  margin: 0;
  grid-template-rows: auto;

  > li {
    display: flex;

    > * {
      flex: 1;
      display: flex;

      > * {
        flex: 1;
      }
    }
  }
}
@media (min-width: 800px) {
  .columns-2 {
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-gap: 14px 14px;
  }
}
