$logo-size: 68px;

body {
  // background: #fbfcfd;
}
header {
  // background: #fbfcfd;
  // border-bottom: 1px solid #f0f0f0;
  min-height: 60px;
  // margin-top: 14px;
  .header-container {
    max-width: 800px;
    // max-width: $max-width;
    margin: auto;
    height: 100%;
    padding: 17px 10px;

    display: flex;
    justify-content: center;
    .header-container-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    #logo {
      background-size: contain;
      background-repeat: no-repeat;
      min-width: $logo-size;
      background-image: url("http://localhost:3000/api/images2/assets/Logo_serif_nocircle.svg"); /* Will be replaced in compile step */
      width: $logo-size;
      height: $logo-size * 26 / 68;
      display: block;
      position: relative;
      // @media (max-width: 450px) {
      //   background-image: url("http://localhost:3000/api/images2/assets/Logo_serif_y.svg"); /* Will be replaced in compile step */
      //   width: 20px;
      //   height: 18px; // * 18 / 20;
      //   min-width: 20px;
      // }
    }

    .navlinks {
      margin: 0 35px;
      @media (max-width: 450px) {
        margin: 0 5px;
      }
    }
    ul {
      margin: 0;
      li {
        display: inline-block;
        margin: 0 0 0 10px;
        font-size: 14px;

        a,
        a:visited {
          color: #404040;
          border-bottom: 1px solid #e4e4e4;

          &:hover {
            text-decoration: none;
            border-bottom-color: #a7a7a7;
            color: black;
          }
        }
        &:first-child {
          margin-left: 0;
        }
        @media (max-width: 550px) {
          margin-left: 10px;
          font-size: 14px;
        }
        @media (max-width: 450px) {
          margin-left: 4px;
          font-size: 13px;
        }
      }
    }
  }
  .medium {
    display: none;
  }
  @media (max-width: 350px) {
    .large {
      display: none;
    }
    .medium {
      display: initial;
    }
    // padding: 0 5px;
    // > div {
    //   display: block;
    // }
    // .navlinks {
    //   border: 1px solid gray;
    // }
  }
  .login-buttons {
    font-size: 12px;
    .signup {
      margin-left: 6px;
    }
    // .signup {
    //   border-radius: 40px;
    //   border: 2px solid rgb(21, 99, 217);
    //   background: rgba(239, 240, 241, 70%);
    //   padding: 5px 11px;
    //   margin-left: 10px;
    //   color: black;
    // }
    // a.signup:hover {
    //   background: white;
    //   text-decoration: none;
    // }
    .logged-in-as,
    .signup,
    .login {
      border-radius: 40px;
      background: rgba(140, 140, 130, 0.14);
      padding: 4px 8px;
      font-size: 11px;
      color: #303630;
      white-space: nowrap;
      // position: absolute;
      // top: 0;
      // right: 0;
      b {
        // font-size: 12px;
      }
      &:hover:not(span) {
        text-decoration: none;
        background: rgba(140, 140, 130, 0.34);
      }
      @include notboldlink();
    }
  }
}
