@use "sass:math";

header {
  height: 60px;
  // margin-top: 14px;

  > div {
    max-width: $max-width;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 100%;

    #logo {
      background-size: contain;
      background-repeat: no-repeat;
      // /* Sans serif */
      // background-image: url("http://localhost:3000/api/images2/assets/Ylhyra_logo_dark.svg");
      // width: 100px;
      // height: 100px * 29 / 89;
      // /* 29 / 89 is the image's ratio */
      /* Serif */
      // width: 105px;
      // height: 105px * 36 / 112;
      // /* 36 / 112 is the image's ratio */
      background-image: url("http://localhost:3000/api/images2/assets/Logo_serif_nocircle.svg"); /* TODO */
      width: 68px;
      height: math.div(68px * 26, 68);
      display: block;
      position: relative;
    }

    ul {
      li {
        display: inline-block;
        margin: 0 0 0 15px;
        font-size: 15px;

        a,
        a:visited {
          color: #404040;
          border-bottom: 1px solid #e4e4e4;

          &:hover {
            text-decoration: none;
            border-bottom-color: #a7a7a7;
            color: black;
          }
        }
        @media screen and (max-width: 550px) {
          margin-left: 9px;
          font-size: 13px;
        }
      }
    }
    @media screen and (max-width: 550px) {
      padding: 0 5px;
    }
  }
}
