body,
html 
  min-height 100vh
body 
  sans_serif()
  font-size 14px

  -webkit-font-feature-settings "tnum"
  -moz-font-feature-settings "tnum"
  -ms-font-feature-settings "tnum"
  font-feature-settings "tnum"
hr 
  margin 40px 20px
  border none
  border-bottom 1px solid #e6e6e6
.center 
  display flex
  justify-content space-around
.container 
  position relative
.supports-touch 
  -webkit-touch-callout none
  /* iOS Safari */
  -webkit-user-select none
  /* Safari */
  -khtml-user-select none
  /* Konqueror HTML */
  -moz-user-select none
  /* Firefox */
  -ms-user-select none
  /* Internet Explorer/Edge */
  user-select none
  /* Non-prefixed version, currently */
code 
  background #f1f1f1
  border 1px solid #dedede
  border-radius 3px
  padding 2px 4px
.small-text-block 
  line-height 1.4
  display block
.div
  display block
body.unscrollable 
  position sticky
  overflow hidden
label 
  display block
.p,
p 
  margin 8px 0
  ul & 
    margin 0
ul,
ol 
  margin 5px 5px 5px 16px

.gray 
  color gray
.center 
  text-align center

ul.plain 
  list-style-type none

h1 
  sans_serif()
  font-size 29px
  line-height 1.2
  > span 
    border-bottom 3px solid rgba(#d7d7d7, 0.4)
.small 
  font-size 12px
  line-height 1.4
  .p 
    margin 3px 0
.extra-small
  font-size 10px
.low-lineheight 
  line-height 1.2
