section,
.section {
  > div {
    max-width: $max-width;
    // max-width: 500px;
    margin: auto;
  }
  > div {
    padding: 25px 10px;
  }
  &.tiny {
    > div {
      padding: 5px 10px;
    }
  }
  &:first-child {
    > div {
      padding-top: 20px;
    }
  }
  &.content {
    padding: 55px 24px;
    @media (max-width: 400px) {
      padding: 20px 0;
      font-size: 14px;
      line-height: 1.5;
    }
    margin: 0;
    box-sizing: content-box;
    line-height: 1.65;
    letter-spacing: 0.1px;
    word-spacing: 0.6px;
    word-spacing: 0.9px;
    serif();
    font-size: 15px;
    &:not(.first):not(.last) {
      border-top: 1px solid #edebeb;
    }
    &.first {
      padding-top: 0;
      > div {
        padding-top: 0;
        .book {
          margin-top: 0;
        }
      }
    }
    > div {
      max-width: 500px;
    }
    h2 {
      sans-serif();
      text-align: center;
      font-weight: 600;
      font-size: 20px;
    }
  }
  &.odd {
    background: rgba(#fcfcfc, 0.8);
  }
  li + li {
    // margin-top: 8px;
  }

  // &.last {
  //   flex: 1;
  //   border-top: none;
  // }
  &.content-footer {
    background: #eeeeee;
    > div {
      padding: 5px 10px;
    }
  }
}

// .spacer-below-content
main {
  flex: 1;
}
