section,
.section 
  > div 
    max-width $max-width
    margin auto
    padding-left 10px
    padding-right @padding-left
    margin-top-and-bottom(10px)
  &.tiny
    > div
      margin-top 4px
  &.wide
    > div
      max-width $header-max-width
      margin-top 0!important
  &:first-child 
    > div 
      margin-top 20px
  &.content
    > div
      margin-top-and-bottom(20px)
    @media (max-width: 400px)
      padding 20px 0
      font-size 14px
      line-height 1.5
    margin 0
    box-sizing content-box
    line-height 1.65
    letter-spacing 0.1px
    word-spacing 0.9px
    serif()
    font-size 15px
    &:not(.first):not(.last) 
      border-top 1px solid #edebeb
    &.first 
      padding-top 0
      > div 
        padding-top 0
        .book 
          margin-top 0
    > div 
      max-width 500px
    h2 
      sans_serif()
      text-align center
      font-weight 600
      font-size 20px
  &.odd 
    background rgba(#fcfcfc, 0.8)
  li + li 
    // margin-top: 8px

  // &.last 
  //   flex: 1
  //   border-top: none
  // }



  &.vocabulary-footer
    > div
      margin-top-and-bottom(20px)
  &.content-footer
    background $footer-bg
    border-top 1px solid $footer-border-color
    margin-bottom -1px
    > div
      margin-top-and-bottom(15px)

main
  flex 1

.brown-background
  background #FBFCFD
