#title {
  font-size: 13px;
  margin-bottom: 17px;
  margin-top: 10px;.title-part {
    border-radius: 12px;
    font-family: sans-serif;
    font-weight: normal;&:after {
      content: ' › ';
      padding: 2px 1px;
      color: #b9b9b9;
    }&.namespace {
      color: $gray;
    }&.last {
      color: black;
      font-weight: bold;&:after {
        content: '';
      }
    }
  }.title-seperator {
    font-size: 0;
    opacity: 0;
  }

  /* Hide title on front page */.rootpage-Ylhýra & {
    display: none;
  }
}.subpages {
  display: none;
}.mw-redirectedfrom {
  color: $gray;
  font-size: 12px;
  body:not(.mw-editable) & {
    display: none;
  }
}
