#breadcrumbs-title 
  font-size: 13px;
  margin-bottom: 17px;
  margin-top: 10px;
  //> span
  //  border-bottom 1px solid #eaeaea
  .title-part
    display: inline-block
    border-radius: 12px;
    font-family: sans-serif;
    font-weight: normal;
    &.namespace
      color: $gray;
    &.bold
      font-weight: bold;
  .title-separator
    display: inline-block
    &:after
      content: " › ";
      display: inline-block
      padding: 2px 1px;
      color: #b9b9b9;
