// blockquote
//   background white
//   background #fdfdfd
//   color black
//   width 100%
//   box-shadow 0 0 0px 1px rgba(0,0,0,0.13), 0 1px 1px 0 rgba(0,0,0,0.17)
//   border-radius 5px
//   overflow hidden
//   transition all 1s
//   margin auto
//   margin-bottom 20px
//   padding 25px
//   .audioContainer
//     padding-bottom 10px
