#logo 
  background-size contain
  background-repeat no-repeat
  min-width $logo-size
  background-image url("http://localhost:3000/api/images2/assets/Logo_serif_nocircle.svg"); /* Will be replaced in compile step */
  width $logo-size
  height $logo-size * (26 / 68)
  display block
  position relative
  // @media (max-width: 450px) 
  //   background-image: url("http://localhost:3000/api/images2/assets/Logo_serif_y.svg"); /* Will be replaced in compile step */
  //   width: 20px
  //   height: 18px; // * 18 / 20
  //   min-width: 20px
  // }
