.book 
  font-size 18px
  line-height 1.9
  max-width 600px
  margin 38px auto

  &,
  &.ny-times 
    serif()
    font-size 16px
  h1 
    text-align center
    margin 25px 3px 0
  h2 
    text-align center
    font-size 15px
    font-family sans-serif
  .subtitle 
    margin-bottom 20px
    text-align center
    font-size 14px
  @media screen and (min-width: 700px) 
    .thumb.tright 
      margin-right -38px
