.collapse {
  @include card_shadow();
  border-radius: 3px;
  margin-top: 18px;
  margin-bottom: 10px;.button {
    background: #f0f0f0;
    cursor: pointer;
    font-weight: 500;
    text-align: center;&:hover {
      background: #e8dfdf;
    }
    + div {
      padding: 8px 13px;
      border-top: 1px solid #cdd7da;
    }
  }
}
