.license 
  // text-align: right
  // float: right
  color #8b8b8b
  font-size 12px
  line-height inherit
  margin-top 2px
  sans_serif()
  a:not(:hover) 
    color inherit
  .license-link 
    font-size 11px
    opacity 0.9
  .info 
    background #e6e6e6
    border-radius 30px
    display inline-block
    /* width: 18px; */
    line-height 1.2
    font-size 10px
    margin-left 4px
    padding 1px 4px 2px
    letter-spacing -0.3px
