.tweet {
  card_shadow();
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  background: white;
  sans_serif();
  .p {
    margin: 0;
  }
  .tweet-header {
    display: flex;
    align-items: center;
    line-height: 1.4;
    img {
      border-radius: 100px;
    }
    .tweet-author {
      flex: 1;
      padding-left: 10px;
      .tweet-username a {
        color: black;
        font-weight: bold;
      }
      .tweet-handle a {
        color: #ababab;
      }
    }
  }
  .tweet-text {
    margin-top: 5px;
    font-size: 15px;
  }
}
