.tweet {
  @include card_shadow();
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  background: white;
  @include sans_serif();
  spo.tweet-header {
    display: flex;
    align-items: center;
    line-height: 1.4;
    img {
      border-radius: 100px;
    }
    .tweet-author {
      flex: 1;
      padding-left: 10px;
      .tweet-username a {
        color: black;
        font-weight: bold;
      }
      .tweet-handle a {
        color: #ababab;
      }
    }
  }
  .tweet-text {
    font-size: 15px;
  }
}
