#speed-reader
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  z-index 3000
  overflow: auto;
  line-height: 1.4;
  cursor pointer
  padding 0 14px
  #speed-reader-inner
    max-width 400px
    margin auto
    padding 14px 0
    min-height 100vh
    display flex
    flex-direction column

  &.mouse_hidden
    cursor none
    #speed-reader-header
      opacity 0
  .noclick
    cursor default
  button, a
    cursor pointer

  #speed-reader-close-button
    float right
    display none
  #speed-reader-logo
    margin-top 20px
    font-family: Times;
    font-style: italic
    font-size: 15px;
  h1
    font-family: Helvetica Neue, sans-serif;
    font-size: 20px;
    margin-top: 0;
  p
    font-size: 13px;
    line-height: 1.4;
  label
    font-size: 13px;


  // #speedreader_output
  //   font-size 26px
  //   margin auto
  //   padding 10px 0
  //   max-width 400px
  //   width 100%
  //   display flex
  //   flex-direction column
  .speedreader_section
    font-family sans-serif
    font-size 14px
    text-align center
    min-height 100px
    display flex
    flex-direction column
    flex 1
    .speedreader_spacer
      flex 1
  .speedreader_translation
    opacity 0.95
  #speedreader_word
    hyphens auto
    font-size 26px
    max-width inherit
    text-align left
    flex 1.2
    word-spacing 1px
    font-family Georgia, serif;

  #tutorial
    padding 10px 0

  .gray
    opacity 0.7
    font-family sans-serif
    font-size 13px

  #speed-reader-status
    background: #b9dbf6;
    height: 3px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

  #speed-reader-header
    display flex
    > a + a
      padding-left 10px
    a
      font-size 13px
      color inherit
      text-decoration underline
      &:hover:not(.inactive)
        color blue
    .spacer
      flex 1
    .inactive
      text-decoration none
      cursor default


/* Skins */
#speed-reader
  background #FFF0E6

  &.blackonwhite
    background white

  &.whiteonblack
    color white

  &.yellowonblack
    color #ffea5c

  &.whiteonblack, &.yellowonblack
    background black
    #speed-reader-header
      a
        &:hover:not(.inactive)
          color #b5d7ff
