.editor-button {
	font-size: 14px;
	float: right;
	padding: 3px 5px;
}

#editor {
	position: fixed;
	background: #f7edf3;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	flex-direction column
	sans_serif();
	font-weight: normal;
	font-size: 12px;
 	> :last-child {
    overflow: scroll;
	}

	@import 'header';
	@import 'input';
	@import 'translator';
	@import 'tutorial';
	@import 'form';
}

@import 'recorder';
