.emoji
  height: 21px
  width: @height
  font-size: 15px
  background-repeat: no-repeat
  background-size: contain
  background-position: center
  display: inline-block
  &:before
    white-space: nowrap
  &.small
    height: 35px
    width: 35px
  &.smaller
    height: 22px
    width: 22px
  &.very_small
    height: 17px
    width: 17px
  &.masculine.singular
    background-image: url("https://media.egill.xyz/emoji/kket.png")
  &.masculine.plural
    background-image: url("https://media.egill.xyz/emoji/kkft.png")
  &.feminine.singular
    background-image: url("https://media.egill.xyz/emoji/kvket.png")
  &.feminine.plural
    background-image: url("https://media.egill.xyz/emoji/kvkft.png")
  &.neuter.singular
    background-image: url("https://media.egill.xyz/emoji/hket.png")
  &.neuter.plural
    background-image: url("https://media.egill.xyz/emoji/hkft.png")
  &.plural
    width: 86px
    margin: 0 -20px
  &.plural.small
    width: 66px
    margin: 0px
  &.plural.smaller
    width: 33px
    margin: 0px
  &.article
    background-color: black
  &.nominative
    background-image: url("https://media.egill.xyz/emoji/nominative.png")
  &.accusative
    background-image: url("https://media.egill.xyz/emoji/accusative.png")
  &.dative
    background-image: url("https://media.egill.xyz/emoji/dative.png")
  &.genitive
    background-image: url("https://media.egill.xyz/emoji/genitive.png")
  &.infinitive
    &:before
      content: "🌺"
  &.present
    &:before
      content: "🌞"
  &.past
    &:before
      content: "🌚"
  &.supine /* Sagnbót */
    &:before
      content: "🌈"
  &.subjunctive
    width: 37px
    &:before
      content: "🌞🤔"
  &.past.subjunctive
    width: 37px
    &:before
      content: "🌚🤔"
  &.in_a_question.present
    &:before
      content: "🌞❓"
  &.in_a_question.past
    width: 37px
    &:before
      content: "🌚❓"
  &.imperative
    &:before
      content: "⚠️"
  &.imperative.plural
    width: 37px
    &:before
      content: "⚠️👥"
