.frontpage-box
  border 1px solid #d7d7d7
  background white
  border-radius 3px
  padding 10px
  text-decoration none
  .frontpage-box-title
    font-weight 600
  .frontpage-box-description
    color black
