.frontpage-box
  background white
  border-radius 3px
  padding 10px
  text-decoration none
  height 100%
  margin-bottom: 24px;
  card-shadow()
  .frontpage-box-title
    font-weight 600
  .frontpage-box-description
    color black
  &.margin
    padding 10px 40px
