.reflist
  font-size: 85%;
  margin-bottom: 0.5em;
  sans-serif()
  ol.references
    list-style-type: inherit;
  margin-top: 31px;


.notes
  sans-serif()
  margin-block-start: 10px;
  font-weight normal
  color #595959
  font-size 13px
  line-height: 1.6;
