table.table
  border-spacing 0
  margin auto
  margin-bottom 10px
  margin-right 10px
  text-align center
  line-height 1.3
  margin auto
  font-size 14px
  font-family Helvetica Neue
  th
    text-align center
    padding 3px 10px
    vertical-align: middle;
    label
      font-size 12px
      font-weight normal
      b
        font-weight 500
        text-align left
        padding 0
  th:not(:empty):not(.checkbox)
    background #e7e7e7
  td
    background #f2f2f2
    background #f6f6f6
    color #323232
    padding 7px 12px
    min-width 80px
    &.main
      position relative
      box-shadow 0 0 0 3px #1e8ed5, inset 0 0 0 1px #1e8ed5
      border none !important
      background white
      top 1px
      left 1px
      z-index 100
      border-radius 3px
      font-size 19px
      font-weight 500
      padding 10px 22px
      color black
  small
    font-size inherit
    font-weight 400
    color #525252
    padding-right 1px
  // b
  //   font-weight inherit
  //   border-bottom 1px solid #bababa
  + h3
    clear left
    padding-top 20px
  + hr
    clear left
  td, th:not(:empty)
    border-top 1px solid #dedede
    border-left 1px solid #dedede
    &:last-child
      border-right 1px solid #dedede
    &.first-top
      border-top 1px solid #dedede
      border-top-left-radius 3px
    &.first-left
      border-left 1px solid #dedede
      border-top-left-radius 3px
  tbody//:first-child
    tr:first-child
      th, td
        &:not(:empty)
          &:first-child
            border-top-left-radius 3px
          &:last-child
            border-top-right-radius 3px
  tbody:last-child
    tr:last-child
      th, td
        &:not(:empty)
          border-bottom 1px solid #dedede
          &:first-child
            border-bottom-left-radius 3px
          &:last-child
            border-bottom-right-radius 3px
  .helper
    font-size 12px
    color #5b5b5b
    font-weight normal
  ul
    text-align left

  /* INFLECTION TABLES */
  /* Tables aligned on helper words */
  td.right
    text-align right
    min-width 0
    border-right none
    padding-right 2px
  td.left
    text-align left
    min-width 0
    border-left none
    padding-left 3px


$screen_break = 700px
@media (max-width: $screen_break)
  .for_large_screens
    display none
  .for_small_screens
    display block
@media (min-width: $screen_break + 1)
  .for_small_screens
    display none
  .for_large_screens
    display block
