.navlinks {
  margin: 0 35px;
  @media (max-width: 450px) {
    margin: 0 5px;
  }
  ul {
    margin: 0;
    display: flex;
    list-style-type: none;
    li {
      // display: inline-block;
      display: block;
      margin: 0 0 0 10px;
      font-size: 14px;

      a,
      a:visited {
        color: #404040;
        border-bottom: 1px solid #e4e4e4;

        &:hover {
          text-decoration: none;
          border-bottom-color: #a7a7a7;
          color: black;
        }
      }
      &:first-child {
        margin-left: 0;
      }
      @media (max-width: 360px) {
        font-size: 13px;
      }
      @media (max-width: 330px) {
        margin-left: 6px;
      }
    }
  }

  .medium {
    display: none;
  }
  @media (max-width: 310px) {
    .large {
      display: none;
    }
    .medium {
      display: initial;
    }
    // padding: 0 5px;
    // > div {
    //   display: block;
    // }
    // .navlinks {
    //   border: 1px solid gray;
    // }
  }
}
