.inline_translation {
  @extend .text-reset;
  font-family: sans-serif;
  font-size: 11px;
  position: absolute;
  z-index: 1;
  left: 1px;
  white-space: nowrap;
  line-height: 10px;
  color: #33608e;
  color: #466e96;
  opacity: 0.6;
  font-weight: normal;
  -webkit-font-smoothing: subpixel-antialiased;
  bottom: 26px;
  display: block;
}
[no-assist] .inline_translation {
  display: none;
}
