.vocabulary-card
  position relative
  .card-notes
    sans_serif()
    padding 7px 9px
    text-align center
    opacity 0.8
    display flex
    flex-direction column
    line-height 1.2
    .card-notes-inner
      font-size 12px
      color #1b1b1b
      text-align left
      span.label
        color #828282
  &.answered .card-notes:hover
    opacity 1
  .show-after-answer
    opacity 0
  &.answered
    .show-after-answer
      opacity 1
  .has-audio-icon
    position absolute
    top 6px
    right 6px
    height 5px
    width 5px
    background rgba(#d5d5d5, 0.4)
    border-radius 4px
  .separator
    color #8c8c8c
    text-shadow 0.5px 0.5px 0.5px rgba(white, 1)
  .red
    color rgba(139, 0, 0, 0.3)
  .rate-how-well
    font-size 12px
    padding-bottom 4px
    color #695a68
    border-top 1px solid gray
    display none
  ol
    text-align left
    li
      &::marker
        color #ababab
        font-size 90%
        sans_serif()
  /* Þú-merging */
  &.answered
    .flashcard-top
    .flashcard-bottom
      .thu-merging
        color #585858
  .darkgray
  .helper-prefix
    color #4b4b4b
  .inline-note
    display block
    color #4b4b4b
  .flashcard-bottom
    .occluded-outer-container
      word-spacing 3px
      .occluded
        text-shadow none
        border-bottom 2px solid #acacac
  &:not(.answered) .flashcard-bottom .occluded > span
    opacity 0
