// .listen
// 	border-radius 3px
// 	background #f4f4f4

.audioPlayer
	display flex
	&.error
		display none
	&.inline
		display inline-block
		// margin-right 6px
		// margin-left 1px
		text-align center
		.playButton
			min-width: 45px;
			padding 0 3px;
	.playButton
		position relative
		padding 4px 10px
		.percentage
			position absolute
			top 0
			left 0
			height 100%
			background rgba(#f4796c, .25)


.audioContainer
	&[data-inline]
		display none
