.vocabulary-card-outer-container {
  flex: 1;
  display: flex;
  // min-height: 470px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  .card-container {
    flex: 1;
    margin: auto;
    width: 100%;
    min-height: 330px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    &.answered.has-notes {
      max-width: 800px;
    }
    &:not(.answered) {
      .notes {
        display: none;
      }
    }
  }
  .image {
    img {
      max-height: 300px;
      width: auto;
    }
  }
}
.vocabulary-vocabulary-card {
  display: flex;
  flex-direction: row;
  background: #f4f4f4;
  border-radius: 7px;
  box-shadow: 0 0 1px 0 rgba(black, 0.4), 0 2px 3px 0 rgba(black, 0.1);
  color: black;
  display: flex;
  height: 100%;
  margin: auto;
  overflow: hidden;
  flex: 1;
  top: 0;
  z-index: 100;
  width: 100%;
  transition {
    background: 0.3s ease-in-out, border 0.2s ease, box-shadow 0.2s ease, left 0.5s ease-in-out, opacity 0.5s ease-in-out, top 0.5s ease-in-out, width 0.5s ease-in-out, z-index 0.5s ease-in-out;
  }
  > div:first-child {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  &.incorrect {
    box-shadow: 0 0 0 2px #f04949;
    animation: shake 0.3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(black);
    backface-visibility: hidden;
    perspective: 1000px;
    background: #eeeeee;
  }
  &.correct {
    background: #f6f6f6;
    box-shadow: 0 0 0 2px #a0e477;
  }
  @media (max-width: 520px) {
    border-radius: 9px;
  }
  > * {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  .answers {
    opacity: 1;
    transition: opacity 0.3s ease;
    display: flex;
    flex: 1;
    border-radius: 6px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    &.horizontal {
      flex-direction: column;
    }
  }
  &.gender .answers {
    flex: 0;
  }
  .notes {
    background: white;
    text-align: left;
    font-size: 13px;
    @include sans-serif();
    line-height: 1.6;
    color: #060606;
    border-left: 1px solid #eaeaea;
    flex: 1;
  }
  > div {
    padding: 0;
    border: none;
  }
  .occulted {
    background: black;
    > span {
      opacity: 0;
    }
  }
}
@-webkit-keyframes shake {
  10% {
    transform: translate3d(-6px, 0, 0);
  }
  40% {
    transform: translate3d(5px, 0, 0);
  }
  70% {
    transform: translate3d(-2px, 0, 0);
  }
  90% {
    transform: translate3d(1px, 0, 0);
  }
}
@-moz-keyframes shake {
  10% {
    transform: translate3d(-6px, 0, 0);
  }
  40% {
    transform: translate3d(5px, 0, 0);
  }
  70% {
    transform: translate3d(-2px, 0, 0);
  }
  90% {
    transform: translate3d(1px, 0, 0);
  }
}
@-ms-keyframes shake {
  10% {
    transform: translate3d(-6px, 0, 0);
  }
  40% {
    transform: translate3d(5px, 0, 0);
  }
  70% {
    transform: translate3d(-2px, 0, 0);
  }
  90% {
    transform: translate3d(1px, 0, 0);
  }
}
@-o-keyframes shake {
  10% {
    transform: translate3d(-6px, 0, 0);
  }
  40% {
    transform: translate3d(5px, 0, 0);
  }
  70% {
    transform: translate3d(-2px, 0, 0);
  }
  90% {
    transform: translate3d(1px, 0, 0);
  }
}
@keyframes shake {
  10% {
    transform: translate3d(-6px, 0, 0);
  }
  40% {
    transform: translate3d(5px, 0, 0);
  }
  70% {
    transform: translate3d(-2px, 0, 0);
  }
  90% {
    transform: translate3d(1px, 0, 0);
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes mild-blink {
  0%,
  100% {
    opacity: 0.85;
  }
  50% {
    opacity: 1;
  }
}
@-moz-keyframes mild-blink {
  0%,
  100% {
    opacity: 0.85;
  }
  50% {
    opacity: 1;
  }
}
@-ms-keyframes mild-blink {
  0%,
  100% {
    opacity: 0.85;
  }
  50% {
    opacity: 1;
  }
}
@-o-keyframes mild-blink {
  0%,
  100% {
    opacity: 0.85;
  }
  50% {
    opacity: 1;
  }
}
@keyframes mild-blink {
  0%,
  100% {
    opacity: 0.85;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes animationFrames {
  0%,
  100%,
  40% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    transform: translate(5px, 0px) rotate(0.5deg);
  }
}
@-moz-keyframes animationFrames {
  0%,
  100%,
  40% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    transform: translate(5px, 0px) rotate(0.5deg);
  }
}
@-ms-keyframes animationFrames {
  0%,
  100%,
  40% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    transform: translate(5px, 0px) rotate(0.5deg);
  }
}
@-o-keyframes animationFrames {
  0%,
  100%,
  40% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    transform: translate(5px, 0px) rotate(0.5deg);
  }
}
@keyframes animationFrames {
  0%,
  100%,
  40% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    transform: translate(5px, 0px) rotate(0.5deg);
  }
}
.flex-center {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
