.vocabulary-card {
  .note {
    font-size: 12px;
    color: #1b1b1b;
    @include sans-serif();
    text-align: left;
    span.label {
      color: #828282;
    }
  }

  .show-after-answer {
    opacity: 0;
  }
  &.answered {
    .show-after-answer {
      opacity: 1;
    }
  }

  .seperator {
    color: #8c8c8c;
    text-shadow: 0.5px 0.5px 0.5px rgba(white, 1);
  }
  .rate-how-well {
    font-size: 12px;
    padding-bottom: 4px;
    color: #695a68;
    border-top: 1px solid gray;
    display: none;
  }

  /* Þú-merging */
  &.answered {
    .flashcard-top,
    .flashcard-bottom {
      .thu-merging {
        color: #585858;
      }
    }
  }

  .darkgray {
    color: #4b4b4b;
  }
  .inline-note {
    display: block;
    color: #4b4b4b;
  }

  .flashcard-bottom {
    .occluded {
      text-shadow: none;
      border-bottom: 2px solid #acacac;
      &.space_before {
        margin-left: 1px;
      }
      &.space_after {
        margin-right: 1px;
      }
    }
  }
  &:not(.answered) .flashcard-bottom .occluded > span {
    opacity: 0;
  }
}
