#vocabulary-screen 
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  display flex
  flex-direction column
  background #242626
  align-items center
  overflow auto
  justify-content center
  #vocabulary-screen-inner 
    // max-height: 680px
    flex 1
    display flex
    flex-direction column
    width 100%
    align-items center
    > div 
      max-width 480px
      width 100%
  #vocabulary-header 
    color #8c8c8c
    font-size 13px
    padding 10px 15px
    display flex
    @media (max-height: 450px) {
      padding 5px 15px
    }
    .spacer 
      flex 1
    a,
    .link 
      color #adbfcd
      &:hover 
        color white
  #game-container 
    padding 0 6px
    flex 1
    display flex
    flex-direction column
    // animation: fadein 0.2s
    @media (max-width: 380px) {
      padding 0
    }
  &.select-level-screen
    color white
    padding 40px 0
    #select-level-screen-header
      font-size 16px
      text-align center
    #select-level-buttons
      margin 10px 0
      display flex
      flex-direction column
      > button
        flex 1
        margin-bottom 5px
        h3
          margin 0
          font-size 15px
          span
            font-weight 300
            font-size smaller
        > div
          font-size 12px
        //display block
        //flex 1
        //
