/*
  Flashcard
*/
.flashcard-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  > * {
    flex: 1;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flashcard-top {
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }
  .flashcard-bottom {
    display: flex;
    flex-direction: column;
    background: #f2ecec;
    border-top: 1px solid #d2d2d2;
    transition: all 0.3s ease;
    font-size: 20px;
    &.not-answered {
      background: #e6e6e6;
      font-size: 14px;
      color: #868686;
      font-weight: 400;
    }
  }
  .icelandic {
    font-family: Georgia, serif;
  }
  .english {
    // font-weight: 500;
  }
  button.selected, button:active  {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.34);
    z-index: 10;
  }
}
