/*
  Flashcard
*/
.flashcard {
  display: flex;
  flex-direction: column;
  text-align: center;
  > * {
    flex: 1;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flashcard-bottom,
  .flashcard-top {
    flex-direction: column;
    font-size: 20px;
    text-shadow: 1px 1px 1px rgba(white, 0.2);
  }
  .flashcard-bottom {
    border-top: 1px solid #dfdfdf;
    transition: all 0.3s ease;
    // &.not-answered {
    //   background: #e6e6e6;
    //   font-size: 14px;
    //   color: #868686;
    //   font-weight: 400;
    // }
  }
  .flashcard-prompt-icelandic {
    font-family: Georgia, serif;
  }
  .flashcard-prompt-english {
    background: #f0eded;
    font-size: 19px;
    // &.flashcard-bottom + div {
    //   background: #f0eded;
    // }
  }

  .flashcard-buttons {
    background: orange;
    height: 200px;
    button {
      height: auto;
      flex: 1;
      border-radius: 0;
      border: none;
      background: none;
    }
    > div {
      display: flex;
      height: 100%;
      // flex-direction: column;
      flex: 1;
      // align-items: stretch;
    }
  }

  button.selected,
  button:active {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.34);
    z-index: 10;
  }
  // .button-bad {
  //   color: #b10000;
  //   border-color: #d14f0a;
  //   background-color: #ffe6e6;
  // }
  // .button-good {
  //   color: #00ad6a;
  //   border-color: #0ad136;
  //   background-color: #e6ffe8;
  // }
  // .button-easy {
  //   color: #618300;
  //   border-color: #97d10a;
  //   background-color: #faffe6;
  // }
}
