.vocabulary-progress {
  text-align: center;
  font-size: 12px;
  margin-top: 29px;
  min-width: 220px;
  color: #393939;
  @include sans-serif();
  .name {
    margin-top: 7px;
    .level {
      font-weight: bold;
    }
    .remaining {
      font-size: 12px;
    }
  }
  .bar {
    height: 14px;
    background: white;
    background: #e3e3e3;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 0 1px 0 rgba(0, 0, 0, 0.42);
    border-radius: 20px;
    max-width: 300px;
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    .easy {
      background: #2ab660;
      background: #5cd978;
    }
    .good {
      background: #7ed46b;
      background: #bbe76f;
    }
    .okay {
      background: #bfd968;
      background: #d9cb68;
    }
    .mediocre {
      background: #d9ad68;
      background: #f5bf74;
    }
    .bad {
      background: #d96868;
      background: #d94040;
    }
  }
  .part {
    height: inherit;
    float: left;
    transition: flex 0.5s ease;
    &:first-child {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }
    &:nth-last-child(2) {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      margin-left: -1px;
    }
  }
}
