.login-buttons 
  font-size 13px
  > div 
    display flex
    align-items center
  .signup 
    margin-left 6px
  // .signup 
  //   border-radius: 40px
  //   border: 2px solid rgb(21, 99, 217)
  //   background: rgba(239, 240, 241, 70%)
  //   padding: 5px 11px
  //   margin-left: 10px
  //   color: black
  // }
  // a.signup:hover 
  //   background: white
  //   text-decoration: none
  // }
  //
  .logged-in-as,
  .signup,
  .login 
    // font-size: 12px
    white-space nowrap
  .logged-in-as 
    font-size 11px
  .logged-in-as,
    .signup,
    // .login
  
    border-radius 40px
    background rgba(140, 140, 130, 0.14)
    padding 4px 8px
    color #303630
    // position: absolute
    // top: 0
    // right: 0
    b 
      // font-size: 12px
    &:hover:not(span) 
      text-decoration none
      background rgba(140, 140, 130, 0.34)
    notboldlink()
