//@font-face{font-family:'Crimson';font-style:normal;font-weight:400;src:local('Crimson Roman'),url(//brick.freetls.fastly.net/fonts/crimson/400.woff) format('woff')}@font-face{font-family:'Crimson';font-style:normal;font-weight:700;src:local('Crimson Bold'),url(//brick.freetls.fastly.net/fonts/crimson/700.woff) format('woff')}@font-face{font-family:'Crimson';font-style:italic;font-weight:400;src:local('Crimson Italic'),url(//brick.freetls.fastly.net/fonts/crimson/400i.woff) format('woff')}

serif() {
  font-family: /*"Crimson",*/ Georgia, serif;
  letter-spacing: 0.005em;
}
sans_serif() {
  font-family: /*Inter V,*/ Helvetica, -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: 0;
}

@import "button.styl";
@import "card.styl";
@import "card-contents.styl";
@import "container.styl";
@import "flashcard.styl";
@import "progress.styl";
