#container
  display flex
  flex-direction row-reverse
  min-height 100vh
  #sidebar
    background #0A1029
    color white
    font-size small
    padding 1em 2em
    a
      color white
    h5
      font inherit
      font-size normal
      font-weight bold
      margin 1em 0 0 0
    .portal
      list-style none
      margin 0
      padding 0
  #content
    flex 1
    display flex
    flex-direction column
    #mw-content-text
      flex 1

#content
  font-size: 17px;
  line-height: 1.37;
  max-width 520px
  padding 0 30px
  margin auto
  min-height: 100vh;
  .mw-parser-output
    > *:not(h2):not(h3):not(h4):not(h5):not(h6)
      font-family: Times New Roman;
