html, body
  min-height 100vh
body
  sans-serif()
  margin 0
  background-color: rgb(255, 254, 252);

hr
  margin 40px 20px
  border none
  border-bottom 1px solid #e6e6e6

.center
  display flex
  justify-content space-around

ul
  > li
    margin-bottom 4px

.container
  position: relative
  serif()

.supports-touch
  -webkit-touch-callout: none /* iOS Safari */
  -webkit-user-select: none /* Safari */
  -khtml-user-select: none /* Konqueror HTML */
  -moz-user-select: none /* Firefox */
  -ms-user-select: none /* Internet Explorer/Edge */
  user-select: none /* Non-prefixed version, currently */

.ylhyra-text
  position: relative
  line-height 1.7
  letter-spacing 0.1px
  margin: 0;
  font-family: Georgia, Times New Roman, serif;
  sans-serif()
  letter-spacing: 0.1px;
  line-height: 1.7;
  font-size: 15px;
  h1,h2,h3,h4,h5,h6
    sans-serif()

.text-reset
  color: black;
  font-size: 14px;
  line-height: 1.3em;
  letter-spacing: 0px;
  text-transform: initial;
  font-style: initial;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: left;
