html, body
  min-height 100vh
body
  sans-serif()
  // margin 0
  background-color: rgb(255, 254, 252);
  font-size 14px

.rootpage-Ylhýra
  #title
    display none

#title .namespace
  color: gray;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  display block


hr
  margin 40px 20px
  border none
  border-bottom 1px solid #e6e6e6

.center
  display flex
  justify-content space-around

// ul
//   > li
//     margin-bottom 2px

.container
  position: relative
  serif()

.supports-touch
  -webkit-touch-callout: none /* iOS Safari */
  -webkit-user-select: none /* Safari */
  -khtml-user-select: none /* Konqueror HTML */
  -moz-user-select: none /* Firefox */
  -ms-user-select: none /* Internet Explorer/Edge */
  user-select: none /* Non-prefixed version, currently */

// .ylhyra-text
.mw-parser-output
  line-height 1.7
  letter-spacing 0.1px
  margin: 0;
  font-family: Georgia, Times New Roman, serif;
  // sans-serif()
  letter-spacing: 0.1px;
  line-height: 1.7;
  font-size 16px
  h1,h2,h3,h4,h5,h6
    sans-serif()
  .ns-0.action-view &
    font-size: 15px;


.ylhyra-text
  position: relative



.text-reset
  color: black;
  font-size: 14px;
  line-height: 1.3em;
  letter-spacing: 0px;
  text-transform: initial;
  font-style: initial;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: left;

code
  background: #f1f1f1;
  border: 1px solid #dedede;
  border-radius: 3px;
  padding: 2px 4px;

.small-text-block
  line-height: 1.4;
  display: block;
