body:not(.initialized)
  .initializing
    &:before
      content: ' Initializing...';
      color: gray;
      font-family: sans-serif;
      border-radius: 12px;
      background: #ececec;
      padding: 2px 7px;
      font-size: 12px;
      display: inline-block;
