/*

  Derived from the Athena skin.
  https://www.mediawiki.org/wiki/Skin:Athena
  License: GPL-3.0+

*/
html, body
  min-height 100vh
body
  sans-serif()
  margin 0
a
  text-decoration none
  &:hover
    text-decoration underline
fieldset
  border 1px solid #ddd
  margin 1em 0
#mw-js-message
  display none
#search-form
  margin-bottom 1em
  input
    border none
    border-bottom 1px solid #ddd
    box-sizing border-box
    font inherit
    font-size medium
    margin 0
    outline none
    padding 5px 0
    width 107px
  button
    border none
    border-bottom 1px solid #ddd
    background transparent
    cursor pointer
    margin 0
    outline none
    padding 5px
    vertical-align bottom
  img
    display block
    width 20px
#actions
  display inline
  font-size small
  font-weight 300
  list-style none
  margin-left 1em !important
  padding 0
  li
    display inline
    margin 0 1em 0 0
    padding 0
    &.selected
      a
        color #333
.mw-editsection
  font-size small
  font-weight 300
.mw-editsection-bracket
  display none
.mw-collapsible-toggle
  margin-left 1em
.mw-collapsible-bracket
  display none
button
  &::-moz-focus-inner
    border 0
    padding 0
#footer-bottom
  border-top 1px solid #ddd
  font-size small
  padding 1em
.footer-icons
  float right
.footer-places
  padding 0
  li
    display inline
    margin-right 1em
