$max-width = 760px
gray = #6b6b6b
blue = #1161d9
serif()
  font-family Georgia, serif
sans-serif()
  // font-family /*Inter UI, Helvetica Neue,*/ -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
  font-family -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"

// span.icelandic
//   serif()

@import 'Layout/*'
@import 'Text/Box/*'

#content .ylhyra-text // .mw-parser-output
  @import 'Audio/*'
  @import 'Text/*'
  @import 'Lessons/*'
  @import 'Text/*'
  @import 'Vocabulary/*'
  @import 'Vocabulary/Types/*'
  @import 'Templates/*'



.mw-editsection ~ *
  font-size 12px
  sans-serif()

.gray
  color #6b6b6b
