// .vocabulary-overlay
//   position: fixed
//   z-index 1000
//   top 0
//   left 0
//   bottom 0
//   right 0
//   display flex
//   flex-direction column
//   // justify-content center
//   align-items center
//   background #e3a48d
//   background -webkit-linear-gradient(135deg,#d58ab0,#e3a48d)
//   background -o-linear-gradient(135deg,#d58ab0,#e3a48d)
//   background linear-gradient(-45deg,#d58ab0,#e3a48d)
//   .vocabulary-container
//     max-width 500px
//     min-width 400px
//     width 40%
//     .close-button
//       margin-bottom 30px

// .vocabulary-container
//   background #f0c0af
//   padding 30px 10px
//   // max-width 500px
//   // min-width 400px
//   // width 40%

section.vocabulary
  background #323337
  border-color #323232

.vocabulary-container
  padding 30px 10px
