.progress
  text-align: center
  font-size: 12px
  // letter-spacing: 0.3px
  margin-top: 29px
  min-width 280px
  // color white
  color: #393939;
  sans-serif()
  .name
    margin-top: 7px
    .level
      font-weight: bold
    .remaining
      font-size: 12px
      // opacity: .7
  .bar
    height: 14px
    // background: #f4f2f2
    background: white
    background: #e3e3e3
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 0 1px 0 rgba(0,0,0,0.42)
    border-radius: 20px
    max-width: 300px
    width: 100%
    margin: auto
    overflow: hidden
    display: flex
    .excellent
      background: #2AB660
      background: #5CD978
    .good
      background: #7ED46B
      background: #BBE76F
    .okay
      background: #BFD968
      background: #D9CB68
    .mediocre
      background: #D9AD68
      background: #F5BF74
    .bad
      background: #D96868
      background: #D94040
  .part
    height: inherit
    float: left
    transition: flex 0.5s ease
    &:first-child
      border-top-left-radius: 6px
      border-bottom-left-radius: 6px
    &:nth-last-child(2)
      border-top-right-radius: 6px
      border-bottom-right-radius: 6px
      margin-left: -1px
