#container
  display flex
  flex-direction column
  min-height 100vh

#content
  line-height: 1.37;
  width 100%
  max-width $max-width
  padding 0 30px
  margin auto
  flex 1
  display flex
  flex-direction column
  #mw-content-text
    flex 1
  @media screen and (max-width: 600px)
    padding 0 5px

body
  margin 0

#actions

  position: absolute;
  right: 0;
  font-size small
  list-style none
  margin 0
  padding 0
  li
    margin 0 6px 0 0
    &.selected
      a
        color #333

.blue
  color blue

.columns
  display flex
  .columns-1
    flex 1
  .columns-2
    flex 1
  .columns-3
    flex 1
