#footer
  background: #f0f3f3;
  border-top: 1px solid #e8e8e8;
  font-size: small;
  padding 10px 30px
  margin-top: 40px;
  > div
    display flex
    max-width $max-width
    margin auto
    &:first-child
      margin-bottom: 11px;
    > div
      flex 1
  @media screen and (max-width: 600px)
    padding 5px
    > div
      display block
  h5
    font inherit
    font-size normal
    font-weight bold
    margin 1em 0 0 0
  .portal
    list-style none
    margin 0
    padding 0
  #free
    font-size 11px
    color: #848484;


  #footer-info
    font-size: 11px;
    line-height: 1em;
    display: block;
    .footer-gray
      &:not(:hover)
        color #7d7d7d
      a:not(:hover)
        color inherit
      &:not(:hover)
        #footer-logo
          -webkit-filter: grayscale(100%);
          filter: gray;
    #footer-logo
      background url("https://ylhyra.is/images/c/c8/Ylhyra_logo_dark.svg")
      width 70px
      height (@width * 29 / 89) /* 29 / 89 is the image's ratio */
      background-size @width @height
      display: inline-block;;
      top: -7px;
      position: relative;
      margin-right: 1px;


      /* Serif */
      background-size: contain;
      background-repeat no-repeat
      background-image url("https://ylhyra.is/images/d/d3/Logo_serif.svg")
      width 70px
      height (@width * 36 / 112) /* 36 / 112 is the image's ratio */


      > span /* Text inside */
        opacity 0


#footer-info-lastmod /* "Last modified:" */
  display none
