a
  color blue
  text-decoration none
  &:hover
   text-decoration underline
  &:visited
    color #0F3BA5
  &.new, li.new &
   color #ba0000
body:not(.mw-editable) &.new
 color inherit
a.selflink
  color inherit
  text-decoration none
