a
  color blue
  text-decoration none
  &:hover
   text-decoration underline
  &:visited
    color #0F3BA5
  &.new, li.new &
   color #ba0000
a.selflink
  color inherit
  text-decoration none
.plainlink, .plainlink:visited
  color inherit
  &:hover
    color blue

// No redlinks for anonymous readers
body:not(.mw-editable) &.new
  color inherit
