@media print {
  header, #footer, #actions, .printfooter, #title, span.user-show, div.user-show {
    display: none!important;
  }
  // /* Removes print headers in chrome */
  // @page { margin: 0; }
  // body { margin: 1.6cm; }
}
