@import "reset.styl";

serif() {
  font-family: /*"Crimson",*/ Georgia, serif;
  letter-spacing: 0.005em;
}
sans_serif() {
  font-family: /*Inter V,*/ Helvetica, -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: 0;
}

input, textarea {
  color: black
  sans_serif()
}

body {
  sans_serif()
}
@import "button.styl";
@import "flashcards/*.styl";
@import "editor/*.styl";

*
  box-sizing: border-box;


//
//.input {
//  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none;
//}label {
//  display: block !important;
//}
//input,
//select,textarea {
//  border: 1px solid black !important;
//}
