@import "reset.styl";
@import "button.styl";
@import "flashcards/card.styl";
@import "flashcards/card-contents.styl";
@import "flashcards/container.styl";
@import "flashcards/flashcard.styl";
@import "flashcards/progress.styl";

serif() {
  font-family: /*"Crimson",*/ Georgia, serif;
  letter-spacing: 0.005em;
}
sans_serif() {
  font-family: /*Inter V,*/ Helvetica, -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: 0;
}

input, textarea {
  color: black
  sans_serif()
}

body {
  sans_serif()
}
