@import "reset.styl";

serif() {
  font-family: /*"Crimson",*/ Georgia, serif;
  letter-spacing: 0.005em;
}
sans_serif() {
  font-family: /*Inter V,*/ Helvetica, -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: 0;
}

input, textarea {
  color: black
  sans_serif()
}

body {
  sans_serif()
}
@import "button.styl";
@import "flashcards/*.styl";
@import "editor/*.styl";

*
  box-sizing: border-box;

a:active
  color initial
form label
  display block
  padding 5px 0
  + label
    border-top 1px solid #d0d0d0

@import "datagrid.styl";
