$border-color = #bdbdbd;

.editor-rows
  display table
  > div
    display table-row
    &:not(:last-child)
      > div
        border-bottom none
    > div
      display table-cell
      border 1px solid $border-color
      &:not(:last-child)
        border-right none
      input
        border none
      > textarea
        height 100%
        width 100%
        resize none
        //border none
        display: block;
